conversation-ai-pipeline-API/.settings/
conversation-ai-pipeline-API/target/
conversation-ai-pipeline-API/*.pcm
conversation-ai-pipeline-API/bin/

conversation-ai-pipeline-SDK/target/
conversation-ai-pipeline-SDK/.settings/
conversation-ai-pipeline-SDK/*.pcm
conversation-ai-pipeline-SDK/bin/

.idea/